{
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["topicCategory.ts", "topicTypes.ts", "**/*/utils/index.ts"],
      "options": {
        "parser": "babel",
        "singleQuote": true
      }
    }
  ]
}
