@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-b40 {
    @apply font-bold;
    font-size: 40px;
    line-height: 60px;
  }

  .font-m36 {
    @apply font-medium;
    font-size: 36px;
    line-height: 48px;
  }

  .font-b32 {
    @apply font-bold;
    font-size: 32px;
    line-height: 48px;
  }

  .font-b28 {
    @apply font-bold;
    font-size: 28px;
    line-height: 36px;
  }

  .font-r28 {
    @apply font-normal;
    font-size: 28px;
    line-height: 36px;
  }

  .font-b24 {
    @apply font-bold;
    font-size: 24px;
    line-height: 36px;
  }

  .font-sb22 {
    @apply font-semibold;
    font-size: 22px;
    line-height: 32px;
  }

  .font-r22 {
    @apply font-normal;
    font-size: 22px;
    line-height: 32px;
  }

  .font-sb20 {
    @apply font-semibold;
    font-size: 20px;
    line-height: 32px;
  }

  .font-r20 {
    @apply font-normal;
    font-size: 20px;
    line-height: 32px;
  }

  .font-sb18 {
    @apply font-semibold;
    font-size: 18px;
    line-height: 28px;
  }

  .font-r18 {
    @apply font-normal;
    font-size: 18px;
    line-height: 28px;
  }

  .font-sb16 {
    @apply font-semibold;
    font-size: 16px;
    line-height: 26px;
  }

  .font-r16 {
    @apply font-normal;
    font-size: 16px;
    line-height: 26px;
  }

  .font-r16-base {
    @apply font-normal;
    font-size: 16px;
  }

  .font-sb14 {
    @apply font-semibold;
    font-size: 14px;
    line-height: 22px;
  }

  .font-r14 {
    @apply font-normal;
    font-size: 14px;
    line-height: 22px;
  }

  .font-sb12 {
    @apply font-semibold;
    font-size: 12px;
    line-height: 16px;
  }

  .font-r12 {
    @apply font-normal;
    font-size: 12px;
    line-height: 16px;
  }

  .title {
    @apply font-semibold text-primary-900;
    font-size: 18px;
    line-height: 28px;
  }
}

